# Bike Trippin

For this assignment, you will be taking "Cycle Share" data from Seattle and creating charts to determine which gender borrows and uses bikes more often.

* Import your dependencies and then import your data into a pandas data frame from the CSV within the 'Data' folder
* Split up your data into groups based upon the gender column
    * NOTE: There will be a garbage row with a gender of 'stoptime' which you will have to remove!
* Chart your data using a bar graph, giving it both a title and labels for the axes

In [ ]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

filepath = os.path.join("trip.csv")

bikes_df = pd.read_csv(filepath)

bikes_df.head()

bikes_df.drop(bikes_df[bikes_df.gender == 'stoptime'].index, inplace=True)

bikes_df['gender'].value_counts()

In [2]:
#Creating Groups
gender_group = bikes_df.groupby('gender')

gender_group.count()

,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,birthyear
gender,,,,,,,,,
Female,37562,37562,37562,37562,37562,37562,37562,37562,37558
Male,140564,140564,140564,140564,140564,140564,140564,140564,140564
Other,3431,3431,3431,3431,3431,3431,3431,3431,3431

In [ ]:
# Create a bar chart based off of the group series from before
gender_chart = gender_group.plot(kind='bar')

# Set the xlabel and ylabel using class methods
#gender_chart.set_xlabel("Gender")
#gender_chart.set_ylabel("Biking")


plt.show()
#plt.tight_layout()

# Bonus!

You will now take the same base data frame before and create some code that will allow you to create individual pie charts for each bike. For this part of the activity, we want you to chart the total 'Trip Duration' of each bike, sorted by gender. Bonus points if you can come up with a method to do this without using loc or iloc to filter the original data frame! You can use loc to filter group data though.